
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Players</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr id="player-<%= player.id %>">
        <td><%= image_tag "#{player.photo_url}", alt: 'Football', class: 'player-image'%></td>
        <td class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add to team
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% current_user.teams.each do |team| %>
              <form class="dropdown-item" action="/user/team_players/<%= "#{team.id}/#{player.id}"%>" method="post">
                <input type="submit" id="dropdown-team" value="<%= team.name %>" />
              </form>
            <% end %>
          </div>
        </td>
        <td><%= player.position=%></td>
        <td><%= player.display_name=%></td>
        <td>Projection Here</td>
        <td>Active Here?</td>
      <% end %>
    </tr>
    <tr>
  </tbody>
</table>
