<div class="search-player">
  <section>
    <%= form_tag(players_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag "Search" %>
    <% end %>
  </section>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Players</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr class="player-<%= player.id %>">
        <td><%= image_tag "#{player.photo_url}", alt: 'Football', class: 'player-image'%></td>
        <td><%= player.position=%></td>
        <td><%= player.display_name=%></td>
        <td>Projection Here</td>
        <td>Active Here?</td>
      <% end %>
    </tr>
    <tr>
  </tbody>
</table>
