<table class="players-table">
  <thead class="thead-players">
    <tr>
      <th scope="col"></th>
      <th scope="col">Players</th>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Projection</th>
      <th scope="col">Active?</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr id="player-<%= player.id %>">
        <td class="dropdown">
          <button class="btn btn-secondary dropdown-toggle orange-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add to team
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% current_user.teams.each do |team| %>
              <form class="dropdown-item" action="/user/teams/<%= "#{team.id}/team_players?myPlayer=#{player.display_name}" %>" method="post">
                <input type="submit" id="dropdown-team" value="<%= team.name %>" />
              </form>
            <% end %>
          </div>
        </td>
        <td><%= image_tag "#{player.photo_url}", alt: 'Football', class: 'player-image'%></td>
        <td><%= player.position=%></td>
        <td><%= link_to player.display_name, player_path(player) %></td>
        <td class="table-proj"><%= player.current_projection %></td>
        <% status =  player.current_status %>
        <% if status == "✔" %>
          <td class="status" style="color:#57A773;"><%= status %></td>
        <% elsif status == 'Bye' %>
          <td class="status"><%= status %></td>
        <% else %>
          <td class="status" style="color:#EE6352;font-size:0.7em;"><%= status %></td>
        <% end %>
      <% end %>
    </tr>
    <tr>
  </tbody>
</table>
