<<<<<<< HEAD
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">My Teams</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each_with_index do |team, index| %>
      <tr class="team-<%= team.id %>">
        <th scope="row"><%= index + 1 %></th>
        <td><%= link_to team.name, user_team_path(team) %></td>
        <td><%= link_to "Change Name", edit_user_team_path(team) %></td>
        <td><%= link_to "Delete Team", user_team_path(team), method: :delete %></td>
        <td><%= link_to "Add Player", players_search_path %></td>
      <% end %>
    </tr>
    <tr>
  </tbody>
</table>

<%= link_to "New Team", new_user_team_path %>
=======
<h1 class="page-header">My Teams</h1>
<section class='teams'>
  <% @teams.each do |team| %>
    <section id="team-section-<%= team.id %>">
      <%= link_to team.name, user_team_path(team), class: "reg-link big-font my-team-link" %>
      <%= link_to "Change Name", edit_user_team_path(team), class: "reg-btn" %>
      <%= link_to "Delete Team", user_team_path(team), method: :delete, class: "reg-btn" %>
    </section>
  <% end %>
</section>
<%= link_to "New Team", new_user_team_path, class: "reg-btn", id: "new-team-btn" %>
>>>>>>> f29d826fcb9e41176d201b5505be2cc3397bd1e8
