<section class="user-info">
  <% if @user.verified? %>
    <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
    <p>Username: <%= @user.user_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Verified &#10004;</p>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <% else %>
    <h5>This account has not been verified.  Please check your email.</h5>
  <% end %>
</section>

<%= render 'partials/team' %>
