<h1 class="page-header"><%= @team.name %></h1>

<form autocomplete="off" action="/user/teams/<%= @team.id %>/team_players" method="post">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myPlayer" placeholder="Player">
  </div>
  <input type="submit" value="Add Player" class="reg-btn" id="new-player-btn">
</form>

<% @players.each do |player| %>
  <div id="player-section-<%= player.id %>">
    <%= link_to player.display_name, player_path(player) %>
    <!-- link_to player.display_name, user_team_path(team), class: "reg-link big-font my-team-link" -->
    <%= link_to "Remove Player", user_team_team_player_path(@team, player), method: :delete, class: "reg-btn" %>
  </div>
<% end %>

<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the active fantasy NFL players:*/
var players = ["Derek Anderson", "Tom Brady", "Drew Brees", "Ryan Fitzpatrick", "Joe Flacco", "Chad Henne", "Josh Johnson", "Eli Manning", "Josh McCown", "Matt Moore", "Philip Rivers", "Aaron Rodgers", "Matt Ryan", "Matt Schaub", "Alex Smith", "Drew Stanton", "Frank Gore", "Marshawn Lynch", "Adrian Peterson", "Darren Sproles", "Danny Amendola", "Larry Fitzgerald", "Jayson Foster", "Ted Ginn Jr.", "DeSean Jackson", "Jordy Nelson", "Matthew Slater", "Delanie Walker", "Vernon Davis", "Marcedes Lewis", "Greg Olsen", "Benjamin Watson", "Jason Witten", "Matt Bryant", "Mason Crosby", "Robbie Gould", "Steven Hauschka", "Mike Nugent", "Matt Prater", "Adam Vinatieri", "Chase Daniel", "Matthew Stafford", "LeSean McCoy", "Michael Crabtree", "Julian Edelman", "Mike Thomas", "Jared Cook", "Ryan Succop", "Brian Hoyer", "New York Giants", "Pittsburgh Steelers", "Baltimore Ravens", "Dallas Cowboys", "Minnesota Vikings", "New England Patriots", "New York Jets", "Philadelphia Eagles", "Tennessee Titans", "Arizona Cardinals", "Atlanta Falcons", "Buffalo Bills", "Carolina Panthers", "Chicago Bears", "Green Bay Packers", "Indianapolis Colts", "Jacksonville Jaguars", "Miami Dolphins", "Los Angeles Chargers", "San Francisco 49ers", "Seattle Seahawks", "Tampa Bay Buccaneers", "Washington Redskins", "Cincinnati Bengals", "Cleveland Browns", "Denver Broncos", "Detroit Lions", "Houston Texans", "Kansas City Chiefs", "New Orleans Saints", "Oakland Raiders", "Los Angeles Rams", "Colt McCoy", "Antonio Brown", "Andre Roberts", "Emmanuel Sanders", "Golden Tate", "Demaryius Thomas", "Joe Webb", "Ed Dickson", "Jimmy Graham", "LeGarrette Blount", "Chris Ivory", "Logan Paulsen", "James Develin", "Andy Dalton", "Blaine Gabbert", "Cam Newton", "Tyrod Taylor", "Charles Clay", "Mark Ingram", "Taiwan Jones", "Dion Lewis", "Bilal Powell", "Jacquizz Rodgers", "Anthony Sherman", "Randall Cobb", "A.J. Green", "Dwayne Harris", "Julio Jones", "Niles Paul", "Aldrick Robinson", "Torrey Smith", "Virgil Green", "Lance Kendricks", "Kyle Rudolph", "Lee Smith", "Luke Stocker", "Jonathan Williams", "Chris Hogan", "Dontrelle Inman", "Dan Bailey", "EJ Manuel", "Terrelle Pryor", "Patrick DiMarco", "Ryan Tannehill", "Rishard Matthews", "Brandon Bolden", "Matt Simms", "Cole Beasley", "Nick Foles", "Kirk Cousins", "Robert Griffin III", "Alfred Morris", "Derek Carrier", "Michael Floyd", "Garrett Celek", "Russell Wilson", "Brian Quick", "Greg Zuerlein", "Marvin Jones", "Mohamed Sanu", "Orson Charles", "Travis Benjamin", "Alshon Jeffery", "Jarius Wright", "Rhett Ellison", "Case Keenum", "Randy Bullock", "T.Y. Hilton", "Dwayne Allen", "Doug Martin", "Jamize Olawale", "Josh Bellamy", "Deonte Thompson", "Brittan Golden", "Justin Tucker", "Alex Tanney", "Marquise Goodwin", "Robert Woods", "Dustin Hopkins", "Geno Smith", "Tommy Bohanon", "Brett Maher", "Matt Barkley", "Russell Shepard", "Zach Ertz", "Chris Thompson", "Nick Williams", "Jordan Reed", "C.J. Anderson", "Tyler Bray", "Demetrius Harris", "Travis Kelce", "Latavius Murray", "Brice Butler", "Keenan Allen", "Andre Ellington", "Jaron Brown", "Vance McDonald", "Spencer Ware", "Darren Fells", "Luke Willson", "Benjamin Cunningham", "Tavon Austin", "Kyle Juszczyk", "Giovani Bernard", "Rex Burkhead", "Tyler Eifert", "Landry Jones", "Le'Veon Bell", "Theo Riddick", "Charles Johnson", "Cole Hedlund", "Zach Line", "Cordarrelle Patterson", "Adam Thielen", "DeAndre Hopkins", "Ryan Griffin", "Kerwynn Williams", "Brandon McManus", "Rashad Ross", "Jack Doyle", "Levine Toilolo", "Kenjon Barner", "Ryan Griffin", "Kenny Stills", "Josh Hill", "Mike Glennon", "Sammy Watkins", "Damien Williams", "Jarvis Landry", "Jimmy Garoppolo", "James White", "Quincy Enunwa", "Odell Beckham Jr.", "Xavier Grimble", "David Fluellen", "Jordan Matthews", "Trey Burton", "Ryan Grant", "Kapri Bibbs", "Bennie Fowler", "Cody Latimer", "De'Anthony Thomas", "Charcandrick West", "Albert Wilson", "Cairo Santos", "Derek Carr", "AJ Ouellette", "Seth Roberts", "Scott Simonson", "Logan Thomas", "John Brown", "Troy Niklas", "Chandler Catanzaro", "Carlos Hyde", "Bruce Ellington", "Paul Richardson", "Garrett Gilbert", "AJ McCarron", "Ryan Hewitt", "James Wright", "Isaiah Crowell", "Taylor Gabriel", "Willie Snead", "David Fales", "Senorise Perry", "T.J. Jones", "Eric Ebron", "Davante Adams", "Teddy Bridgewater", "Tom Savage", "Alfred Blue", "Chris Boswell", "Donte Moncrief", "Erik Swoope", "Cody Parkey", "Blake Bortles", "Allen Hurns", "Marqise Lee", "Allen Robinson", "Devonta Freeman", "Marcus Lucas", "Brandin Cooks", "Micky Crum", "Mike Evans", "Cameron Brate", "Austin Seferian-Jenkins", "Diontae Spencer", "Jerome Cunningham", "Chris Manhertz", "Roosevelt Nix-Jones", "Nick O'Leary", "Jay Ajayi", "DeVante Parker", "AJ Derby", "Devin Smith", "Geoff Swaim", "Geremy Davis", "Nelson Agholor", "Jamison Crowder", "Jeff Heuerman", "Chris Conley", "James O'Shaughnessy", "Amari Cooper", "Clive Walford", "Melvin Gordon", "David Johnson", "JJ Nelson", "Mike Davis", "Blake Bell", "Tyler Lockett", "Sean Mannion", "Todd Gurley", "Javorius Allen", "Breshad Perriman", "Darren Waller", "Nick Boyle", "Maxx Williams", "Tyler Kroft", "C.J. Uzomah", "Duke Johnson", "Vince Mayle", "Malcolm Johnson", "Sammie Coates", "Jesse James", "Jeremy Langford", "Kevin White", "Ameer Abdullah", "Michael Burton", "Brett Hundley", "Aaron Ripkowski", "Ty Montgomery", "Stefon Diggs", "MyCole Pruitt", "Jaelen Strong", "Phillip Dorsett", "Marcus Mariota", "Tre McBride", "Tevin Coleman", "Justin Hardy", "Cameron Artis-Payne", "Devin Funchess", "Garrett Grayson", "Marcus Murphy", "Jameis Winston", "DeAndrew White", "DeAndre Carter", "Jake Kumerow", "Cameron Meredith", "Zach Zenner", "T.J. Yeldon", "Wes Saxton", "Akeem Hunt", "Will Tye", "Matt LaCosse", "Raheem Mostert", "Eric Tomlinson", "Gabe Holmes", "Tyrell Williams", "Josh Lambo", "Thomas Rawls", "Rod Smith", "Malcolm Brown", "Darius Jennings", "Eli Rogers", "Taylor Heinicke", "Adam Humphries", "Mack Brown", "Jordan Taylor", "Daniel Brown", "Damiere Byrd", "Jason Myers", "Cardale Jones", "Kenyan Drake", "Jakeem Grant", "Thomas Duarte", "Jacoby Brissett", "Charone Peake", "Dak Prescott", "Ezekiel Elliott", "Darius Jackson", "Rico Gathers", "Paul Perkins", "Sterling Shepard", "Jerell Adams", "Carson Wentz", "Wendell Smallwood", "Nate Sudfeld", "Josh Doctson", "Paxton Lynch", "Devontae Booker", "Andy Janovich", "Manasseh Garner", "Kevin Hogan", "Tyreek Hill", "Demarcus Robinson", "Ross Travis", "Connor Cook", "DeAndre Washington", "Derek Watt", "Hunter Henry", "Jeff Driskel", "Aaron Burbridge", "Alex Collins", "C.J. Prosise", "Nick Vannett", "Jared Goff", "Pharoh Cooper", "Temarrick Hemingway", "Tyler Higbee", "Kenneth Dixon", "Keenan Reynolds", "Chris Moore", "Tyler Boyd", "Cody Core", "Cody Kessler", "Seth DeValve", "Rashard Higgins", "Ricardo Louis", "Jordan Howard", "Jake Rudock", "Dwayne Washington", "Trevor Davis", "Moritz Boehringer", "Laquon Treadwell", "David Morgan", "Tyler Ervin", "Will Fuller", "Braxton Miller", "Chester Rogers", "Derrick Henry", "Tajae Sharpe", "Austin Hooper", "Daniel Lasco", "Michael Thomas", "Dan Vitale", "D.J. Foster", "Andy Jones", "Austin Traylor", "Josh Woodrum", "Roger Lewis", "Byron Marshall", "Marcus Johnson", "Hunter Sharp", "Joe Kerridge", "Maurice Harris", "Jalen Richard", "K.J. Brent", "Marvin Hall", "Johnny Holton", "Max McCaffrey", "Jaydon Mickens", "Kenneth Farrow", "Elijhaa Penny", "Taylor Bertolet", "Wil Lutz", "Tra Carson", "Alex Erickson", "Alonzo Russell", "Jon Brown", "J.P. Holtz", "Ben Braunecker", "Cole Wick", "Joe Callahan", "Geronimo Allison", "C.J. Ham", "Marken Michel", "Kyle Carter", "Tevin Jones", "Stephen Anderson", "Reece Horn", "Alex Ellis", "Aldrick Rosas", "Brandon Wilds", "J.D. McKissic", "Joshua Perkins", "Garrett Griffin", "Josh Ferguson", "Robert Kelley", "Peyton Barber", "Robby Anderson", "Keith Smith", "Troymaine Pope", "Tanner McEvoy", "Ka'imi Fairbairn", "Tommylee Lewis", "Brandon Allen", "Corey Grant", "Ben Koyack", "Neal Sterling", "Nathan Peterman", "Zay Jones", "Isaiah Ford", "Elijah McGuire", "Chad Hansen", "Jordan Leggett", "Jason Vander Laan", "Noah Brown", "Ryan Switzer", "Davis Webb", "Wayne Gallman", "Evan Engram", "Donnel Pumphrey", "Shelton Gibson", "Mack Hollins", "Samaje Perine", "Robert Davis", "Jeremy Sprinkle", "Chad Kelly", "De'Angelo Henderson", "Isaiah McKenzie", "Kalif Raymond", "Jake Butt", "Patrick Mahomes", "Kareem Hunt", "Jehu Chesson", "Elijah Hood", "Mike Williams", "T.J. Logan", "Chad Williams", "C.J. Beathard", "Trent Taylor", "George Kittle", "Chris Carson", "Amara Darboh", "David Moore", "Joe Mixon", "Josh Malone", "John Ross", "Mason Schreck", "Jake Elliott", "DeShone Kizer", "Matthew Dayes", "David Njoku", "Zane Gonzalez", "Joshua Dobbs", "James Conner", "JuJu Smith-Schuster", "Mitchell Trubisky", "Tarik Cohen", "Adam Shaheen", "Brad Kaaya", "Kenny Golladay", "Michael Roberts", "Aaron Jones", "Devante Mays", "Jamaal Williams", "Malachi Dupre", "DeAngelo Yancey", "Dalvin Cook", "Stacy Coley", "Bucky Hodges", "Deshaun Watson", "Marlon Mack", "Mo Alie-Cox", "Leonard Fournette", "Dede Westbrook", "Khalfani Muhammad", "Corey Davis", "Taywan Taylor", "Jonnu Smith", "Brian Hill", "Eric Saubert", "Christian McCaffrey", "Mose Frazier", "Curtis Samuel", "Harrison Butker", "Alvin Kamara", "Russell Hansbrough", "Jeremy McNichols", "Chris Godwin", "O.J. Howard", "Austin Ekeler", "Sean Culkin", "Austin Carr", "Cody Hollister", "Jacob Hollister", "Anthony Firkser", "Zach Pascal", "Keon Hatcher", "Isaac Whitney", "Pharaoh Brown", "Nick Mullens", "Matt Breida", "Victor Bolden Jr.", "Kendrick Bourne", "Cole Hikutini", "Cyril Grayson", "Taquan Mizzell", "Ricky Ortiz", "Quincy Adeboyejo", "C.J. Board", "Tim Patrick", "Tim White", "Cethan Carter", "Scott Orndoff", "Taysom Hill", "Montay Crockett", "Phillip Walker", "Trey Griffey", "Bug Howard", "JoJo Natson", "Darrell Daniels", "Jordan Williams-Lambert", "Brandon Reilly", "Jason Croom", "Keith Towbridge", "Cooper Rush", "Lance Lenoir", "Blake Jarwin", "Corey Clement", "Greg Ward Jr.", "Kyle Sloter", "Gehrig Dieter", "Marcus Kemp", "Andre Patton", "Artavis Scott", "Carlton Agudosi", "Krishawn Hogan", "Ricky Seals-Jones", "Tanner Gentry", "Brandon Barnes", "Robert Tonyan", "Dare Ogunbowale", "Chris Thompson", "Evan Baylis", "Keelan Cole", "Amba Etta-Tawo", "Reggie Davis", "Alex Gray", "Trey Edmunds", "Travin Dural", "Antony Auclair", "Billy Brown", "Justin Davis", "Cooper Kupp", "Josh Reynolds", "Gerald Everett", "Johnny Mundt", "Dan Arnold", "Shane Smith", "Alex Armah", "Tyrone Swoopes", "Sam Ficken", "Bobo Wilson", "Josh Allen", "Mike Gesicki", "Sony Michel", "Sam Darnold", "Michael Gallup", "Saquon Barkley", "Rashard Davis", "Dallas Goedert", "Derrius Guice", "Royce Freeman", "River Cracraft", "Courtland Sutton", "Josh Rosen", "Christian Kirk", "Dante Pettis", "Rashaad Penny", "Lamar Jackson", "Hayden Hurst", "Kermit Whitfield", "Baker Mayfield", "Nick Chubb", "Mason Rudolph", "James Washington", "Anthony Miller", "Brandon Zylstra", "Justice Liggins", "D.J. Chark", "Calvin Ridley", "D.J. Moore", "Ronald Jones", "Mark Andrews", "Jordan Akins", "Tre'Quan Smith", "Ray-Ray McCloud", "Austin Proehl", "Kalen Ballage", "Durham Smythe", "Jason Sanders", "Danny Etling", "Braxton Berrios", "Ryan Izzo", "Trenton Cannon", "Chris Herndon", "Mike White", "Bo Scarbrough", "Cedrick Wilson", "Dalton Schultz", "Kyle Lauletta", "Simmie Cobbs", "Trey Quinn", "David Williams", "DaeSean Hamilton", "Troy Fumagalli", "Marcell Ateman", "Justin Jackson", "Dylan Cantrell", "Chase Edmonds", "Steven Dunbar", "Richie James", "Ross Dwelley", "Alex McGough", "Will Dissly", "John Kelly", "Jordan Lasley", "Jaleel Scott", "Logan Woodside", "Mark Walton", "Auden Tate", "Antonio Callaway", "Damion Ratley", "Jaylen Samuels", "Javon Wims", "Nick Bawden", "J'Mon Moore", "Equanimeous St. Brown", "Marquez Valdes-Scantling", "Tyler Conklin", "Daniel Carlson", "Keke Coutee", "Jordan Thomas", "Nyheim Hines", "Jordan Wilkins", "Deon Cain", "Daurice Fountain", "Tanner Lee", "Luke Falk", "Ito Smith", "Russell Gage", "Ian Thomas", "Boston Scott", "Justin Watson", "Keith Ford", "Robert Foster", "Cam Phillips", "Buddy Howell", "Greg Joseph", "Ralph Webb", "Dimitri Flowers", "Jordan Chunn", "David Wells", "Robert Martin", "Jawill Davis", "Garrett Dickerson", "Josh Adams", "Martez Carter", "Darvin Kidsy", "Cam Sims", "Matt Flanagan", "Elijah Wellman", "Phillip Lindsay", "Chase Litton", "J.D. Moore", "Darrel Williams", "Josh Crockett", "Byron Pringle", "Jordan Smallwood", "James Butler", "Chris Warren", "Ryan Yurachek", "Saeed Blacknall", "Marcus Baugh", "Paul Butler", "Eddy Pineiro", "Detrez Newsome", "J.J. Jones", "Cole Hunt", "Ben Johnson", "Austin Roberts", "Chad Kanoff", "Trent Sherfield", "Jalen Tolliver", "Andrew Vollert", "Matt McCrane", "Jeff Wilson", "Caleb Scott", "Malik Turner", "Fred Brown", "KhaDarel Hodge", "Steven Mitchell", "Codey McElroy", "Gus Edwards", "Mark Thompson", "De'Lance Turner", "Christopher Ezeala", "Andre Levrone", "Nick Keizer", "Quinton Flowers", "Ka'Raun White", "Jordan Franks", "Brogan Roback", "Dontrell Hilliard", "Blake Jackson", "Da'Mari Scott", "Derrick Willies", "Quadree Henderson", "Damoun Patterson", "Pharoah McKever", "Christian Scotland-Williamson", "Ryan Nall", "Nick Bellore", "Deontez Alexander", "Chris Lacy", "Brandon Powell", "Teo Redding", "Tim Boyle", "Kevin Rader", "Mike Boone", "Roc Thomas", "Jeff Badet", "Chad Beebe", "Lavon Coleman", "Vyncint Smith", "Jester Weah", "Steve Ishmael", "Mike Badgley", "Allen Lazard", "Dorren Miller", "Dalyn Dawkins", "Cameron Batson", "Deontay Burnett", "Devin Ross", "Jordan Veasy", "Ethan Wolf", "Kurt Benkert", "Malik Williams", "Christian Blake", "Devin Gray", "Jaeden Graham", "Kyle Allen", "Reggie Bonnafon", "J.T. Barrett IV", "Keith Kirkwood", "Deon Yelder", "Shaun Wilson", "Sergio Bailey", "Donnie Ernsberger", "Tanner Hudson", "Duke Williams", "Bryant Mitchell", "Cole Murphy", "Patrick Ricard", "Chris Blewitt", "Redford Jones", "Christian Wade", "Brandon Silvers", "Valentine Holmes", "Luis Perez", "De'Mornay Pierson-El", "Damon Sheehy-Guiseppi", "Devin Singletary", "Jake Fisher", "Dawson Knox", "Tommy Sweeney", "Myles Gaskin", "Chandler Cox", "Jarrett Stidham", "Damien Harris", "Jakob Johnson", "N'Keal Harry", "Trevon Wesco", "Tony Pollard", "Mike Weber", "Daniel Jones", "Darius Slayton", "Clayton Thorson", "Miles Sanders", "JJ Arcega-Whiteside", "Dwayne Haskins", "Bryce Love", "Kelvin Harmon", "Terry McLaurin", "TJ Rahming", "Steven Sims", "Drew Lock", "Devontae Jackson", "Trinity Benson", "Romell Guerrier", "Juwann Winfree", "Noah Fant", "Austin Fort", "Darwin Thompson", "Davon Grayson", "Mecole Hardman", "Josh Jacobs", "Hunter Renfrow", "Foster Moreau", "Easton Stick", "Kyler Murray", "Hakeem Butler", "Andy Isabella", "KeeSean Johnson", "Caleb Wilson", "Jalen Hurd", "Deebo Samuel", "Kaden Smith", "Travis Homer", "Gary Jennings Jr", "DK Metcalf", "John Ursua", "John Wolford", "Darrell Henderson", "Trace McSorley", "Justice Hill", "Miles Boykin", "Marquise Brown", "Ryan Finley", "Rodney Anderson", "Trayveon Williams", "Drew Sample", "Ishmael Hyman", "Austin Seibert", "Benny Snell Jr", "Diontae Johnson", "Zach Gentry", "David Montgomery", "Kerrith Whyte Jr", "Riley Ridley", "Ty Johnson", "Travis Fulgham", "TJ Hockenson", "Isaac Nauta", "Dexter Williams", "Alexander Mattison", "Olabisi Johnson", "Dillon Mitchell", "Irv Smith Jr", "Cullen Gillaspia", "Kahale Warring", "Parris Campbell", "Gardner Minshew", "Ryquell Armstead", "Josh Oliver", "AJ Brown", "Marcus Green", "Qadree Ollison", "Will Grier", "Jordan Scarlett", "Terry Godwin", "Alize Mack", "Scott Miller", "Matt Gay", "Ryan Davis", "Jakobi Meyers", "Andrew Beck", "Brett Rypien", "George Aston", "Kelvin McKnight", "Emmanuel Butler", "Tyree Jackson", "Nick Easley", "David Sills V", "Mik'Quan Deane", "Moral Stephens", "Chase McLaughlin", "Patrick Laird", "Trenton Irwin", "Preston Williams", "Chris Myarick", "Gunner Olszewski", "Greg Dortch", "Jeff Smith", "Jalen Guyton", "Jon'Vea Johnson", "Eric Dungey", "Jonathan Hilliman", "Alex Wesley", "Reggie White Jr", "CJ Conrad", "DeAndre Thompkins", "Craig Reynolds", "John Lovett", "Kyle Shurmur", "Marcus Marshall", "James Williams", "Jamal Custis", "Felton Davis III", "Cody Thompson", "Joe Fortson", "Alec Ingold", "Brian Burt", "Keelan Doss", "Jeremy Cox", "Jason Moore", "Trevion Thompson", "Fred Trevillion", "Daniel Helm", "Matt Sokol", "Drew Anderson", "Wes Hills", "Dontae Strickland", "Xavier Turner", "AJ Richardson", "Drew Belcher", "Wilton Speight", "Austin Walter", "Malik Henry", "Shawn Poindexter", "Tyree Mayfield", "Adam Choice", "Jazz Ferguson", "Terry Wright", "Matt Colburn", "Alex Bachman", "Jalen Greene", "Johnathan Lloyd", "Nsimba Webster", "Kendall Blanton", "Romello Brooker", "Keenen Brown", "Joe Horn Jr", "Sean Modster", "Jaylen Smith", "Antoine Wesley", "Cole Herdman", "Charles Scarff", "Jacob Dolegala", "Jordan Ellis", "Darrin Hall", "Ventell Bryant", "Stanley Morgan Jr", "Damion Willis", "David Blough", "Trayone Gray", "D'Ernest Johnson", "Dorian Baker", "DJ Montgomery", "Stephen Carlson", "Devlin Hodges", "Travon McMillian", "Trevor Wood", "Matthew Wright", "Emanuel Hall", "Thomas Ives", "Ian Bunting", "Jesper Horsted", "Dax Raymond", "Ellis Richardson", "Jonathan Duhart", "Tom Kennedy", "Manny Wilkins", "Kabion Ento", "Darrius Shepherd", "Jake Browning", "Khari Blasingame", "Davion Davis", "Alexander Hollins", "Brandon Dillon", "Karan Higdon", "Floyd Allen", "Johnnie Dixon", "Tyron Johnson", "Stephen Louis", "Ashton Dulin", "Penny Hart", "Hale Hentges", "Taj McGowan", "Tyre Brady", "Raphael Leonard", "Dredrick Snelson", "Michael Walker", "Michael Colubiale", "Charles Jones II", "Alex Barnes", "Joseph Parker", "Anthony Ratliff Williams", "Parker Hesse", "Tony Brooks-James", "Shawn Bane", "Kahlil Lewis", "CJ Worton", "Olamide Zaccheaus", "Elijah Holyfield", "Damion Jeanpiere Jr", "Devine Ozigbo", "Deonte Harris", "Lil-Jordan Humphrey", "Nick Fitzgerald", "Bruce Anderson", "Anthony Johnson", "DaMarkus Lodge", "Spencer Schnell", "Cortrelle Simpson", "Xavier Ubosi", "Nate Becker", "Nick Brossette", "Donald Parham", "Brendan Langley", "Josh Caldwell", "Rico Gafford", "Marcelias Sutton", "Justin Johnson", "Bradley Sowell", "Elliott Fry", "Damarea Crockett", "Malik Taylor", "Marcus Simms", "Taryn Christion", "Isaiah Searight", "Jamarius Way", "Derrick Gore", "Aca'Cedric Ware", "Jake Powell", "Jalan McClendon", "Isaac Zico", "Jackson Harris", "Joe Walker", "Jordan Taxamu", "Marquis Young", "Carson Meier", "Papi White", "Joey Slye", "Matthew Eaton", "Kaare Vedvik", "Ty Long"];

/*initiate the autocomplete function on the "myInput" element, and pass along the players array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), players);
</script>
